.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 2rem 6rem;
  }
  
  .navbar-link {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navlink {
    color: black;
    text-decoration: none;
    font-family: 'Monsterrat';
    font-size: 20px;
  }
  
  .navbar-brand {
    margin-right: 2rem;
    margin-top: 0.7rem;
    font-size: 30px;
    font-family: 'Monsterrat';
  }
  
  /* .navbar-brand img {
    width: 62.px;
    height: 16px;
  } */
  
  .navbar-link-container {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-link-container p,
  .navbar-sign p,
  .navbar-menu-container p {
    color: rgb(0, 0, 0);
    font-family: 'Monsterrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
  
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .navbar-sign button,
  .navbar-menu-container button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-family: 'Monsterrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    color: black;
  }
  .navbar-sign button:hover,
  .navbar-menu-container button:hover {
    padding: 0.5rem 1rem;
    background-color: black;
    font-family: 'Monsterrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    color: white;
  }
  
  .navbar-menu {
    margin-left: 1rem;
  
    display: none;
    position: relative;
  }
  
  .navbar-menu svg {
    cursor: pointer;
  }
  
  .navbar-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 0.5rem;
    position: fixed;
    right: 0;
    top: 40px;
    margin: 3rem;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0, 0,0.5);
  }
  
  .navbar-menu-container p {
    margin: 1rem 0;
  }
  
  .navbar-menu-container-link-sign {
    display: none;
  }
  .navbar-menu-container-link-sign {
    display: none;
  }
  
  .mainBox {
    margin-top: 5%;
    font-family: 'Monsterrat';
    display: flex;
  }
  
  .homebtn{
    padding-top: 5rem;
  }
  
  .heading {
    padding-top: 5rem;
  }
  .homebtn button{
    padding: 0.5rem 1rem;
    background-color: transparent;
    font-family: 'Monsterrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    color: black;
  }
  
  .homebtn button:hover {
    padding: 0.5rem 1rem;
    background-color: black;
    font-family: 'Monsterrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    border-color: black;
    border-width: 2px;
    color: white;
  }
  
  .formGraphic {
    height:  500px;
    width: 500px;
  }
  .homepic {
    padding-left: 10rem;
  }
  
  .heading h1 {
    font-size: 80px;
  }
  
  
  
  @media screen and (max-width: 1050px) {
    .navbar-link-container {
        display: none;
    }
  
    .navbar-menu {
        display: flex;
    }
    .mainBox {
      margin-top: 30%;
      display: flex;
    }
    
    .homebtn{
      padding-top: 5rem;
    }
    
    .heading {
      padding-top: 1rem;
    }
  
    .heading h1 {
      font-size: 80px !important;
    }
    .formGraphic{
      height: 300px;
      width: 300px;
    }
    
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
  
    .mainBox{
      margin-top: 5rem !important;
    }
    .homebtn {
      margin-top: 2rem !important;
    }
    .homepic {
      display: none;
    }
  
  }
  
  @media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }
  
    .navbar-sign {
        display: none;
    }
  
    .navbar-menu-container {
        top: 20px;
    }
  
    .navbar-menu-container p{
      font-size: 10px !important;
      line-height: 15px !important;
  }
  
    .navbar-menu-container-link-sign {
        display: block;
    }
    .mainBox {
      margin-top: 20%;
      display: flex;
    }
    .homebtn{
      padding-top: 3rem;
    }
    
    .heading {
      padding: 3rem;
    }
  
    .heading h1 {
      font-size: 50px;
    }
    
    .homepic {
      display: none;
    }
  }